/*General styling */
:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
    --bg-color1: rgb(36, 36, 36);
    --bg-color2: rgb(32, 34, 33);
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
}
p::selection {background-color: rgba(192, 77, 77, 0.452);}

/*scroll bar optimization*/
::-webkit-scrollbar {
    width: 1.5vw;
}
::-webkit-scrollbar-track {
    background-color: rgb(34, 30, 30);
}
::-webkit-scrollbar-thumb {
    background-color: black;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 114, 114);
    width: 2vw;
}
::-webkit-search-button {display: none;}

body {overflow-x: hidden;}

/*loading screan*/
#preloading {
    position: fixed;
    background-color: rgba(27, 29, 32, 0.979);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 333;
}


/* back to top button */
.toTop {
    position: fixed;
    width: 7vw;
    height: 7vw;
    bottom: 2vh;
    right: 0.5vw;
    display: none;
    z-index: 333;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .toTop {
        width: 13vw;
        height: 13vw;
    }
}

/* body content styling start*/

header, #nav, section, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* header styles*/
header {
    height: 80vh;
    background-color: var(--bg-color1);
    background-image: url('media/hands.jpg');
    color: honeydew;
    position: relative;
    background-size: cover;
}
header > p {
    font-size: 7vw;
    color: snow;
    text-shadow: 1px 1px 20px rgba(199, 47, 65, 0.99);
    width: 50%;
}
header > img { 
    display: block; 
    width: auto; 
    margin-bottom:1%; 
    height: 40vh;
}
/*navigation bar styling*/
#nav {
    flex-flow: row nowrap;
    background-color: var(--bg-color2);
    position: sticky;
    top: 0px;
    width: 100%;
    color: honeydew;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    transition: opacity 0.4s linear;
}
.unhovered {
    opacity: 0.15;
}
#nav > li {
    height: 100%;
    padding: 4%;
    font-size: 2.8vw;
    cursor: pointer;
}
#nav > li:hover {
    background-color: rgb(161, 41, 41);
    color: rgb(245, 231, 231);
}

/*general sections styling */
section {
    padding: 2vw;
    background-color: var(--bg-color2);
    color: whitesmoke;
    position: relative;
    font-family: Arimo,Arial,Helvetica,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: wrap;
    min-height: 75vw;
    transition: background 0.5s;
}
.even {
    background-color: var(--bg-color1);
    transition: background 0.5s;
}

/*focused section*/

.activeSection {
    background-color: rgb(0, 0, 0);
    transition: background 0.5s;
}

/* from here it's specific styling for each section*/
#vidglance {
    min-height: auto;
    padding: 4% 1%;
}

.overlay {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 27, 0.616);
    padding: 5% 1%;
}

.overlay > p { font-size: 5vw;}
.overlay span { font-size: 5vw; color: rgb(190, 38, 38);}

.vid {
    width: 100%;
    height: 100%;
}


#Plot > div {
    width: 29%;
    min-height: 45vh; 
    background: url('media/13sins.jpg');
    background-size: 100% 150%;
    background-origin: border-box;
    background-repeat: no-repeat;
    margin-left: 1%;
}
#Plot > p {
    color: #afaaaa;
    padding: 1vw;
    line-height: 150%;
    width: 70%;
    font-size: 2vw;
}
@media only screen and (max-width: 900px) {
    #Plot > p {
        line-height: 120%;
        width: 95%;
        font-size: 2.8vw;
    }
    #Plot > div {
        width: 80%;
        min-height: 30vh; 
        height: auto;
        background-size: cover;
    }
}


iframe {
    min-height: 60vw;
}


.actor {
    width: 20%;
    height: 40vw;
    margin: 3% 2%;
    background-color: rgb(61, 71, 90);
    border-radius: 10px;
    transition: all 0.3s;
}
.actor:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(40, 45, 54);
}
.actor > img {
    display: block;
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}
.actor > p {
    padding: 1%;
    line-height: 8vw;
}


#links > div {
    width: 80%;
    margin: auto;
}
.link {
    width: 100%;
    padding: 3%;
    margin: 2%;
    background-color: rgb(243, 237, 211);
    border-radius: 3%;
    color: rgb(172, 55, 55);
    cursor: pointer;
    box-shadow: 5px 5px darkblue 5px;
    text-decoration: none;
    transition: background 0.3s, color 0.4s;
}
.link:hover {
    background-color: rgb(172, 55, 55);
    color: rgb(243, 237, 211);
}


footer {
    min-height: 5%;
    background-color: var(--bg-color2, rgb(39, 38, 38));
    padding: 2% 0.5%;
    color: white;
}
footer > p {
    border-left: 2px solid rgba(150,150,150,0.8);
    padding: 5px;
}